@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap%27");


.mainsec{
    margin-top: 30px;
}

.grid{
   display: grid;
   gap: 10px;
   grid-template-columns: repeat(6,1fr);
   text-align: center;
   
}

.search{
 
    border: 1px solid #eee;
    display: block;
    width: 30%;
    font-size: 1rem;
    padding: 5px;
    border-radius: 0.4rem;
    background: rgba(238, 238, 238, 0.103);
    transition: 0.2s;
    
    
  
  
}
.search:focus,
  .search:hover {
    outline: none;
    border-color: #fb1;
    background: white;
    box-shadow: 0 0 0 3px #fea;
  }

.img{
    margin: 10px;
    max-height: 350px;
}
img{
    border-radius: 5px;
    height: 150px;
}
.body{margin-bottom: 10px;}
.content{
    background-color: #f1f1f104;
}

@media (max-width:700px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        text-align: center;
     }
}
@media (max-width:550px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
     }
}
