nav{
  padding: 10px 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  align-items: center;
  background-color: #f1f1f104;
  width: 100%;
  flex-wrap: wrap;
}

.navitem{
  display: flex;
  gap: 15px;
  
}
@media (max-width:520px) {
  .nav h1{
    display: none;
  }
  
}
